<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TfsDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TfsListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Readify.Useful.TeamFoundation.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TfsDeployer.Properties.Settings>
      <setting name="ToAddress" serializeAs="String">
        <value>release.manager@yourcompany.com</value>
      </setting>
      <setting name="KeyFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="SignDeploymentMappingFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FromAddress" serializeAs="String">
        <value>release.manager@yourcompany.com</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>mailserver</value>
      </setting>
      <setting name="BuildQualityWildcard" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="SharedResourceServerPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="IgnoreSystemPowerShellExecutionPolicy" serializeAs="String">
        <value>False</value>
      </setting>
    </TfsDeployer.Properties.Settings>
    <Readify.Useful.TeamFoundation.Common.Properties.Settings>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://targetserver1:8881</value>
      </setting>
      <setting name="RegistrationUserName" serializeAs="String">
        <value>tfsrtm\Darren</value>
      </setting>
      <setting name="TeamFoundationServerUrl" serializeAs="String">
        <value>http://tfsserver:8080</value>
      </setting>
      <setting name="UseDefaultCredentials" serializeAs="String">
        <value>True</value>
      </setting>
    </Readify.Useful.TeamFoundation.Common.Properties.Settings>
  </applicationSettings>

  <!--<system.diagnostics>
    <switches>
      <add name="Readify.Useful.TeamFoundation.Common" value="2" />
      <add name="TfsDeployer" value="2" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add initializeData="TfsDeployer" type="System.Diagnostics.EventLogTraceListener" name="Logger" traceOutputOptions="Callstack" />
      </listeners>
    </trace>
  </system.diagnostics>-->

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
