<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TfsDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TfsDeployer.Properties.Settings>
      <setting name="KeyFile" serializeAs="String">
        <value />
      </setting>
      <setting name="SignDeploymentMappingFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TfsUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="TfsDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="TfsPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="TeamProjectCollectionUri" serializeAs="String">
        <value>https://MyTfs.MyDomain/tfs/MyProjectCollection/</value>
      </setting>
      <setting name="BaseAddress" serializeAs="String">
        <value>http://MyHostname/Temporary_Listen_Addresses/TfsDeployer</value>
      </setting>
    </TfsDeployer.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <!-- TODO update mail settings for each environment -->
      <smtp deliveryMethod="Network" from="me@localhost" >
        <network host="localhost" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <!--<system.diagnostics>
    <switches>
      <add name="Readify.Useful.TeamFoundation.Common" value="2" />
      <add name="TfsDeployer" value="2" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add initializeData="TfsDeployer" type="System.Diagnostics.EventLogTraceListener" name="Logger" traceOutputOptions="Callstack" />
      </listeners>
    </trace>
  </system.diagnostics>-->

</configuration>
