<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="TfsDeployer.Agent.DeployAgentService">
                <endpoint address="net.tcp://localhost:8882" binding="netTcpBinding"
                    bindingConfiguration="" name="DefaultEndpoint" contract="TfsDeployer.DeployAgent.IDeployAgent" />
            </service>
        </services>
    </system.serviceModel>
</configuration>